.root {
    background: rgba(var(--dark-rgb), 0.7);
    padding: 5rem 0;
    overflow: auto;
}
.blur{
    position: fixed;
    height: 100%;
    width: calc(100% - 16px);
    top: 0;
    left: 0;
    z-index: 0;
}

@media (max-width: 800px) {
    .blur {
        width: 100%;
    }
}