@import  './colors.scss' ,'./bootstrap.scss', './grid.scss', './radius.scss', './transform.scss', './z-index.scss', './opacity.scss';

html {
    font-size: 16px;
}
body {
    margin: 0;
    padding: 0;
    height: 200vh;
}